$color-1: #000;
$color-2: #26252a;
$color-3: #fff;
$color-bg: #fff;
$color-text: #000;

$font: 'Samsung One', sans-serif;
$font-2: 'Samsung Sharp Sans', sans-serif;
$weight: normal;

$width: 1100px;